@tailwind base;
@tailwind components;
@tailwind utilities;

.after_explorer::after {
  content: "";
  width: 60%;
  height: 4px;
  background-color: #7856ff;
  position: absolute;
  bottom: 0;
  display: block;
  margin: auto;
  border-radius: 20px;
}